DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
BLOB_READ_WRITE_TOKEN=

NEXT_PUBLIC_SUPABASE_URL=https://cyedwsyqzyijbonaedqj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_NAWYgg1GnZNF-Eh1h-j5dg_g-lyocgs
